.develop {
  font-size: 18px;
  color: white;
}

.develop_link {
  display: block;
  width: 280px;
  padding: 15px 0;
  color: rgb(255, 255, 255);
}

.develop_link:hover {
  border-color: #515151;
}

.develop_link:active {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.31);
}

@media (min-width: 768px) {
  .develop_link {
    width: 160px;
  }
}